.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  padding: 1px;
  outline: none;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
}
